<div class="container" [@listAnim]="listAnim$ | async">
  <!--循环项目到list中-->
  <!--写一个launchInviteDialog()方法，来监听输出的事件。一旦事件发生，则执行launchInviteDialog()方法-->
  <app-project-item *ngFor="let project of (projects$ | async)"
                    [item] = "project"
                    class="card"
                    (onInvite)="launchInviteDialog(project)"
                    (onEdit)="launchUpdateDialog(project)"
                    (onDel)="launchConfirmDialog(project)"
                    (onSelected)="selectProject(project)"
  ></app-project-item>
</div>


<!--新增项目按钮-->
<button class="fab-button" md-fab type="button" (click)="openNewProjectDialog()">
  <md-icon>add</md-icon>
</button>
