<!--任务根容器，按照项目状态进行分类，然后在每个类别中各自循环出任务列表-->
<div class="task-lists">
  <!--按照项目完成状态，循环出任务列表-->
  <app-task-list
    class="list-container"
    appDrop
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    [appDrag]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
    *ngFor="let list of lists">
    <!--任务列表题头-->
    <!--监听task-header组件发出的事件属性，并用launchNewTaskDialog()对事件作出响应-->
    <!--监听task-header组件发出的事件属性，并用launchCopyTaskDialog()对事件作出响应-->
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (editList)="launchEditListDialog(list)"
      (delList)="launchConfirmDialog(list)"
      (moveAll)="launchCopyTaskDialog()"
    ></app-task-header>
    <!--快速建立任务-->
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <!--循环出任务列表-->
    <!--监听任务的点击事件(taskClick)，并响应事件launchUpdateTaskDialog()。-->
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="launchUpdateTaskDialog(task)"
    >
    </app-task-item>
  </app-task-list>
</div>

<!--新建任务按钮，
该按钮是独立于任务列表的，单独放置在屏幕右下方
-->
<button class="fab-button" md-fab type="button" (click)="launchNewListDialog()">
  <md-icon>add</md-icon>
</button>
