<md-sidenav-container>
  <md-sidenav #sidenav mode="over" align="start">
    <app-sidebar></app-sidebar>
  </md-sidenav>

  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()"></app-header>
    </header>
    <main>

      <router-outlet></router-outlet>

      <!--先屏蔽路由插座，以便演示动画-->
      <!--在想要应用动画的地方添加触发器，[@square]="squareState"-->
      <!--<div class="square" [@square]="squareState" (click)="onClick()">-->

      <!--</div>-->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>

  </div>


</md-sidenav-container>





