<md-card>
  <md-card-header>
    <md-card-title>登录</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container align="end" color="accent" floatPlaceholder="float" hintLabel="必填项">
      <span mdPrefix>bigrollers</span>
      <input mdInput type="text" placeholder="您的email">
      <span mdSuffix>@gmail.com</span>
      <md-hint></md-hint>
      <md-error></md-error>

    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <p>还没有账户？<a href="">注册</a></p>
    <p>忘记密码？<a href="">找回</a></p>

  </md-card-actions>
</md-card>
