<!--任务条显示-->
<!--[ngClass] 可以根据条件显示不同的样式-->
<!--监听md-list-item点击事件-->
<!-- 3 动画里面的触发器  @item  赋值-->
<md-list-item class="container"
              [@item]="widerPriority"
              [ngClass]="{
              'priority-normal': item.priority === 3,
              'priority-important': item.priority === 2,
              'priority-emergency': item.priority === 1
              }"
              (click)="onItemClick()"
>
  <!--任务选中状态-->
  <md-checkbox
    class="status"
    [checked]="item.completed"
    (click)="onCheckBoxClick($event)"
  ></md-checkbox>
  <!--任务内容描述-->
  <!--[ngClass]="{'completed': item.completed}" 表示若为真，则加载  .completed-->
  <div md-line class="content" [ngClass]="{'completed': item.completed}">
    <!--添加 MdTlooltipModule， 鼠标放在上面的时候，提示完整信息-->
    <span [md-tooltip]="item.desc">{{item.desc}}</span>
  </div>
  <!--内容区域底下，任务到期时间-->
  <div md-line class="bottom-bar">
    <!--若是时间为空，则此组件不显示-->
    <span class="due-date" *ngIf="item.dueDate">
      <!--日期类型数据用管道格式化-->
      {{item.dueDate | date: 'yy-MM-dd'}}
    </span>
    <!--若是项目提醒日期存在，则显示此标签-->
    <md-icon *ngIf="item.reminder">alarm</md-icon>
  </div>
  <!--执行人头像-->
  <md-icon class="avatar" [svgIcon]="avatar" md-list-avatar></md-icon>
</md-list-item>
